		<div class="container-fluid">
			<div class="row bg-black">
				<div class="col-sm-4 text-white">Free Shipping Over $50</div>
				<!-- TODO: Bag eventually needs to have update capability-->
				<div class="col-sm-4 col-sm-offset-4 text-white text-right">Bag (0)</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<img src="/imgs/logo.jpg" alt="logo" class="center-block img-responsive">
				</div>
			</div>
			<div class="row center-block">
				<nav class="navbar navbar-header">
					<div class="container-fluid">
						<div>
							<ul class="nav-justified" id="navBar">
								<li class="dropdown"><a href="#">Jewelry</a>
									<ul class="dropdown-menu">
                                		<li><a href="#">Necklaces</a></li>
                                		<li><a href="#">Earrings</a></li>
                                		<li><a href="#">Bracelets</a></li>
                            		</ul>
                            	</li>
								<li><a href="#">What's New</a></li>
        						<li><a href="#">Wholesale</a></li>
        						<li><a href="#">About Me</a></li>
							</ul>
						</div>	
						<hr> <!--To Add a line below navigation-->
					</div>
			</div>
			<!--<div class="row">
				<ul class = "nav nav-pills nav-stacked">
				   <li class = "active"><a href = "#">Home</a></li>
				   <li><a href = "#">SVN</a></li>
				   <li><a href = "#">iOS</a></li>
				   <li><a href = "#">VB.Net</a></li>
				   <li><a href = "#">Java</a></li>
				   <li><a href = "#">PHP</a></li>
				</ul>
			</div>-->
		</div>